<%- include('layouts/header.ejs') %>
    </head>

    <body>
        <!-- Navigation-->
        <%- include('layouts/nav.ejs') %>
            <!-- Page Header-->
            <header class="masthead" style="background-image: url('/assets/img/notfound.jpg')">
                <div class="container position-relative px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-7">
                            <div class="page-heading">
                                <h1>404 Page Not found!</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

                <%- include('layouts/script.ejs') %>
    </body>

    </html>